<mat-toolbar>
    <img [src]="logo" alt="media 24">
    <span class="flex-spacer"></span>
    <button mat-stroked-button [ngClass]="{'active-menu': '/home' == isActiveClass}" (click)="openMenu('/home')">
        <mat-icon>home</mat-icon> Home
    </button>
    <button mat-stroked-button [ngClass]="{'active-menu': '/about-us' == isActiveClass}"
        (click)="openMenu('/about-us')">
        <mat-icon>info</mat-icon> About Us
    </button>
    <button mat-stroked-button [ngClass]="{'active-menu': '/photo-gallery' == isActiveClass}" *ngIf="isLoggedIn"
        (click)="openMenu('/photo-gallery')">
        <mat-icon>image</mat-icon> Photo Gallery
    </button>
    <span class="flex-spacer"></span>
    <span class="userName" *ngIf="isLoggedIn">
        {{ userData.username}} ({{userData.userid}})
    </span>
    <button mat-stroked-button color="primary" (click)="isLoggedIn ?  logout() : login()">
        <mat-icon>exit_to_app</mat-icon>{{isLoggedIn ?'Logout' : 'Login'}}
    </button>
</mat-toolbar>