mat-toolbar {
  img {
    width: 12%;
  }

  button {
    margin: 0 3px;
    border: 0;
    color: steelblue;
  }

  .flex-spacer {
    flex: 1 1 auto;
  }

  .active-menu {
    background: steelblue;
    color: white;
  }
}
