<div class="login-main" *ngIf="isLogin">
    <div class="heading">
        Login
    </div>
    <div class="input-form">
        <form [formGroup]="userForm">
            <mat-form-field appearance="outline">
                <mat-label>User Id</mat-label>
                <input matInput placeholder="Enter email..." formControlName='email' name='email' autocomplete="on">
                <mat-error
                    *ngIf="(userForm.get('email').hasError('email') || userForm.get('email').hasError('required')) && ((userForm.get('email').dirty || this.userForm.get('email').touched))">
                    {{userForm.get('email').hasError('email') ? "Invalid email" : "Required field"}}
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type='password' placeholder="Enter password..." autocomplete="off"
                    formControlName='password' name='password'>
                <mat-error
                    *ngIf="userForm.get('password').hasError('required') && ((userForm.get('password').dirty || this.userForm.get('password').touched))">
                    Required field
                </mat-error>
            </mat-form-field>
        </form>
        <div class="button-section">
            <button mat-raised-button [disabled]="userForm.invalid" (click)="login()"> Login
            </button>
        </div>
    </div>
</div>

<div *ngIf="!isLogin">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{imageData.title}}</mat-card-title>
            <mat-card-subtitle>
                {{imageData.desc}}
            </mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="imageData.imagePath" alt="Photo of a Shiba Inu">
        <mat-card-content>
        </mat-card-content>
    </mat-card>
</div>