.login-main {
  .heading {
    padding: 15px;
    background: lightsteelblue;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    font-family: sans-serif;
  }

  .input-form {
    margin: 20px;

    mat-form-field {
      width: -webkit-fill-available;
      padding-bottom: 20px;
    }

    .button-section {
      text-align: center;

      button {
        background: lightsteelblue;
        width: 35%;
        font-size: larger;
      }
    }
  }

}
