.main-div {
  margin-top: 9vw;
  margin-bottom: 5vw;
  overflow-x: hidden;

  mat-grid-tile {
    cursor: pointer;

    mat-card {
      width: 70%;
      height: 80%;
      box-shadow: 10px 10px 10px lightsteelblue;

      mat-card-header {
        height: 20%;
      }

      img:hover {
        position: relative;
        transition: transform 0.6s;
        box-shadow: 0 8px 8px 8px rgba(0, 0, 0, .2), 0 8px 8px 0 rgba(0, 0, 0, .14), 0 8px 8px 0 rgba(0, 0, 0, .12) !important;
        //   transform: translate3d(12, 12, 12);
        //   transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        transform: scale(1.3);
        //   transform: rotateY(180deg) scale(1.3);
        z-index: 99;
      }
    }

  }
}
