<div class="main-div">
    <mat-grid-list cols="4">
        <mat-grid-tile *ngFor="let imageDataArr of imageData" colspan=1 rowspan=1 (click)="openDetails(imageDataArr)">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{imageDataArr.title}}</mat-card-title>
                    <!-- <mat-card-subtitle>The Shiba Inu is the smallest of the six original and distinct spitz breeds of
                        dog from Japan.
                        A small</mat-card-subtitle> -->
                </mat-card-header>
                <img mat-card-image [src]="imageDataArr.imagePath" alt="Photo of a Shiba Inu">
                <mat-card-content>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>