.main-div {
  width: 100%;
  background-image: url("../../assets/about-us.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80%;
  background-position-y: top;
  padding-top: 7vw;

  .about-us-div {
    display: flex;
    padding: 10vw;
    margin: 3vw 4vw;
    opacity: 0.9;
    background: lightsteelblue;

    .title {
      width: 40%;
      font-size: 3vw;
      font-weight: bold;
      font-family: cursive;
      margin: auto;
    }

    .main-content {
      width: 60%;
      font-weight: 500;
    }
  }
}
