<div class="main-div">
    <div class="about-us-div">
        <div class="title">
            About Media 24
        </div>
        <div class="main-content">
            We are the first one to enable cinema digitization with satellite technology in India. That also makes us
            the largest in-cinema advertising platform, with the power to impact almost 2.1 billion viewers annually
            through 3600+ screens across 1200+ cities, leading directly into the hearts of India’s Urban Heartland.
        </div>
    </div>

</div>