/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0;
}
