<div class="main-div">
    <div class="home-main"></div>
    <div class=" home-main home-main2"></div>
</div>
<div class="second-content">
    <h1 class="main-heading">
        BUSINESS OFFERINGS
    </h1>
    <h4 class="sub-heading">
        Advertisers
    </h4>
    <div class="option-div">
        <div class="option-text">
            Preferred destination for large screen high impact advertising. With the largest urban heartland cinema
            network
            we help brands reach the right target audience. Our advertising solutions can be customised to deliver
            targeted
            advertising with zero spill over.
        </div>
        <button mat-stroked-button color="accent"> Read More
        </button>
        <div class="option-text">
            One stop destination for all cinema requirements from digital cinema to ticketing system, theatre leasing,
            theatre refurbishments and complete technical assistance for theatre audio sounds.
        </div>
        <button mat-stroked-button color="accent">
            Read More
        </button>
        <div class="option-text">
            Final destination for filmmakers to release, market and distribute their films.
        </div>
        <button mat-stroked-button color="accent">
            Read More
        </button>
    </div>
</div>