.main-div {
  width: 100%;
  background-image: url("../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 92%;
  background-position-y: top;
  margin-top: 50px;
}

.second-content {
  width: 100%;
  background-image: url("../../assets/background2.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 92%;
  background-position-y: top;

  .main-heading {
    color: #54098e !important;
    font-size: 45px !important;
    text-transform: uppercase;
    text-align: center;
    padding: 60px 0px 15px 0px;
  }

  .sub-heading {
    font-size: 35px !important;
    text-align: center;
    margin-bottom: 25px !important;
  }

  .option-div {
    margin: auto;
    width: 80%;
    padding-bottom: 3vw;

    button {
      display: flex;
      margin: 30px auto;
      border: 3px solid #ff009f;
      background: transparent;
      border-radius: 30px;
    }

    .option-text {
      font-size: 16px;
      font-weight: lighter;
      background-size: 8px;
      line-height: 26px;
      text-align: center;
    }
  }
}

.home-main {
  padding: 7vw;
  width: 2vw;
  height: 1vw;
  background-color: red;
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  opacity: .4;
}

.home-main2 {
  animation-direction: reverse;
  animation-name: example;
}

@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }

  25% {
    background-color: yellow;
    left: 200px;
    top: 0px;
  }

  50% {
    background-color: blue;
    left: 200px;
    top: 200px;
  }

  75% {
    background-color: green;
    left: 0px;
    top: 200px;
  }

  100% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
}
